@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /*pallet : https://coolors.co/f9f8f8-cdd3ce-bbb5bd-aa6da3-b118c8*/
  --color-a: #cae5ffff;
  --color-b: #acedffff;
  --color-c: #89bbfeff;
  --color-d: #6f8ab7ff;
  --color-e: #615d6cff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

select {
  font-family: 'FontAwesome';
}